# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.CrossyPlanet.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\Desktop\CrossyPlanet\.idea\.idea.CrossyPlanet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
